.input-form {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 20px 20px 0 0;
    /* border-radius: 20px; */
    background-color: rgba(0, 0, 0, 0.5);
}
.input-container {
    width: 280px;
    position: relative;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before {
    content: "";
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid white;
}

.text-input:focus + .label,
.filled {
    top: -10px;
    color: white;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}
